@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    margin: 0;
    
    background-color: #F5F9FF;
}
h1,h2,h3,h4,h5,h6,p,hr {
    margin: 0;
}
hr {
    width: 100%;
    border-color: #D7E2F1;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
}

.wrapper {
    width: 80%;
    margin: auto;

    color: #0F172A;

    margin-bottom: 20%;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;

    height: 100vh;
    overflow: hidden;
}

.icon {
    height: auto;
}
.tiny {
    width: 18px;
}
.small {
    width: 25px;
}
.big {
    width: 60px;
}
.rounded {
    border-radius: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
nav #avatar {
    width: 40px;
    height: 40px;
}
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.left .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.left h4 {
    display: none;
}
.left h3 {
    font-weight: 800;
    font-size: 20px;
}
.left span {
    font-weight: 500;
    font-size: 15px;
}
nav button {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-inline: 15px;
    border-color: #000;
    border-radius: 8px;
    border-style: solid;
    background-color: #FFFFFF00;
    color: #000;
    font-weight: 500;
    font-size: 18px;

    display: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
#hero h1 {
    font-size: 46px;
}
#hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #212139;
}
#hero button {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-inline: 15px;
    border-color: #00000000;
    border-radius: 8px;
    background-color: #485AFF;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
}
#hero #source {
    font-size: 16px;
}

#phone {
    overflow: hidden;
    height: 300px;
}
#phone img {
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    text-align: justify;
}
#main .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#main .top p {
    margin-top: -5px;
}
#main .top h2 {
    font-size: 30px;
    font-weight: bolder;
}
#main p {
    line-height: 20pt;
    font-weight: 500;
}
.line {
    border-color: #485AFF;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 50px;
}
.vertical {
    border-color: #D7E2F1;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    width: 1px;
    height: 100%;

    display: none;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
.card p {
    text-align: center;
    opacity: 0.8;
    font-weight: 400 !important;
}

footer {
    background-color: #0F172A;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 30px;
    font-size: 16px;

    overflow: hidden;
}
footer p {
    width: 80%;
    font-weight: 400;
    letter-spacing: 0.2pt;
}
footer p span {
    color: rgb(255, 71, 71);
    font-size: 20px;
}
footer .copyright {
    font-weight: 300;
    opacity: 0.8;
}
footer hr {
    border-color: #1E293B;
}
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.socials .item {
    width: 32px;
    height: 32px;
    background-color: #1E293B;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.socials img {
    filter: invert(1);
}

/* For tablets (portrait and landscape) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    #hero h1 {
        font-size: 60px;
        letter-spacing: -2px;
    }
    #hero p {
        font-size: 20px;
        line-height: 30px;
    }

    #phone img {
        content:url('../assets/tablet.svg');
    }

    #main .top h2 {
        font-size: 35px;
    }
    #main p {
        font-size: 17px;
    }
}

/* For desktops */
@media only screen and (min-width: 1024px) {
    nav button {
        display: block;
    }
    .left h4 {
        font-weight: 600;
        display: block;
    }
    #hamburger {
        display: none;
    }

    #hero h1 {
        font-size: 80px;
        letter-spacing: -4px;
    }
    #hero p {
        width: 70%;
    }

    .wrapper {
        margin-bottom: 10%;
    }

    #phone img {
        content:url('../assets/laptop.svg');
    }

    #main .top h2 {
        font-size: 50px;
    }
    #main .top p {
        width: 100%;
    }
    #main p {
        width: 60%;
        text-align: center;
    }
    #main hr {
        width: 80%;
    }
    #main .line {
        width: 50px;
    }

    .cards hr {
        display: none;
    }
    .vertical {
        display: block;
    }

    .cards {
        grid-template-columns: 1fr 1px 1fr;
    }

    footer {
        gap: 40px;
    }
}
